.bottom-image img{
    vertical-align:bottom;
}

#carouselHero .carousel-item img{
    object-fit: cover;
    object-position: center;
    height: 60vh;
    width: 60vw;
    overflow: hidden;
}
#title{
    font-family: 'Special Elite';
}
#homedescription{
    font-family: 'Special Elite';
}