<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #b1dee4;">
  <div class="container-fluid">
    <a href="/">
      <img src="/static/sense_logo.png" alt="" height="50px">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0"> 
        <li class="nav-item">
          <a class="nav-link ms-2" href="/challenge"><h5 class="fw-light pt-1" style="color:black">challenge</h5></a>
        </li>
        <li class="nav-item">
          <a class="nav-link ms-1" href="/homeDef/list"><h5 class="fw-light pt-1" style="color:black">home collection</h5></a>
        </li>
        <li class="nav-item">
          <a class="nav-link ms-1" href="/aboutus"><h5 class="fw-light pt-1" style="color:black">about us</h5></a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        {% if current_user.is_anonymous %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('login') }}"><h5 class="fw-light pt-1" style="color:black">login</h5></a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link me-1" href="/myprofile"><h5 class="fw-light pt-1" style="color:black">{{ current_user.username }}</h5></a>
          </li>          
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('logout') }}"><h5 class="fw-light pt-1" style="color:black">logout</h5></a>
          </li>
          {% endif %}
        </li>
      </ul>
    </div>
  </div>
</nav>