{% extends 'base.html' %}

{% block body %}
<div class="container">
    <div class="row mt-4 py-4 rounded" style="height:250px; text-align:center; background-color:rgb(245,245,245);">
        <h7></h7>
        <h1 class="display-3">about us</h1>
    </div>

    <br>

    <div class="row">
        <h2 class="fw-light my-4" style="text-align:center">purpose + interactivity</h2>
        <p class="fw-lighter">
            our goal is to create an online space where everyone can belong. we've learned that a feeling
            of belonging cannot be forced but it can be welcomed. we are creating a space where 
            people can share vulnerable parts of themselves in order to create real connections with
            others.
        </p>
        <br>
        <p class="fw-lighter">
            user story: nate is a student who during covid did nothing but lay in his bed. 
            he was unable to go out to his favorite cafe or soccer field. his place of 
            comfort was disrupted. he wants to learn how to recreate a place he feels 
            comfortable and like he belongs. he opens up a sense of place website and is 
            faces with three options. he can upload his own “home” or view others, he can do 
            a challenge as an attempt to create different “homes”, or he can message with 
            others discussing experiences. nate being quite competitive clicked the challenge 
            option and was faced with a checklist of activities to complete.
        </p>
    </div>

    <div class="row py-4 my-4">
        <div class="col me-2">
            <div class="row">
                <h2 class="fw-light my-2">about the designers</h2>
            </div>
            <br>
            <div class="row pt-4 mt-3 rounded" style="background-color:rgb(245,245,245)">
                <h4 class="fw-light mb-3">leah marquez</h4>
                <p class="fw-light">
                    hola! my name is leah marquez and i am a senior at oakland technical high school.
                    i chose to study a sense of place and belonging as part of my senior capstone 
                    because being adopted has changed my view of how i belong in the world. feel free to 
                    explore the website and let us know what home means to you d:
                </p>
            </div>
            <br>
        </div>
        <div class="col-auto">
            <div class="row" style="height:50px"></div>
            <img src="static/leah.jpg" height="250px">
        </div>
        <div class="col-auto">
            <img src="static/leah1.jpg" height="200px">
        </div>
    </div>

    <div class="row py-4 my-4">
        <div class="col-auto">
            <img src="static/julia.jpg" height="225px">
        </div>
        <div class="col-auto">
            <div class="row" style="height:50px"></div>
            <img src="static/julia1.jpg" height="250px">
        </div>
        <div class="col ms-2 pt-2">
            <div class="row pt-4 mt-4 rounded" style="background-color:rgb(245,245,245)">
                <h4 class="fw-light mb-3">julia manou</h4>
                <p class="fw-light">
                    my name is julia and i'm currently a senior at oakland technical high school.
                    in my life, i've moved around and gone back and forth between houses since my 
                    parents are separated. because of this, home was never really a place (like a 
                    house might be). i've been working on this website as part of my capstone 
                    project, and i'm looking forward to helping people connect through their shared 
                    experiences.
                </p>
            </div>
        </div>
    </div>

    <div class="row py-4 my-4">
        <div class="col me-2 mt-3 pt-2">
            <div class="row pt-4 rounded" style="background-color:rgb(245,245,245)">
                <h4 class="fw-light mb-3">gabriel garza</h4>
                <p class="fw-light">
                    howdy :) my name is gabe and i'm currently in my senior year at oakland tech.
                    when i was a young boy, i was separated from my father across state lines. i 
                    moved around oakland with my mother, and because of this my sense of belonging, 
                    with both my paternal family and culture, was disrupted. i am excited to be a
                    part of this project, and hope that my experiences can help people who might relate 
                    to them.
                </p>
            </div>
        </div>
        <div class="col-auto">
            <img src="static/gabe.jpeg" width="230px">
        </div>
        <div class="col-auto">
            <img src="static/gabeshark.jpg" width="230px">
        </div>
    </div>

    <br>
</div>
{% endblock %}