<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-6">
            <h4 class="fw-light">about the desinger</h4>
            <p class="fw-lighter">
                hello and welcome my name is leah marquez. i am a senior at oakland technical high school.
                for our senior year we need to complete a research project. i chose to study a sense of 
                place and belonging because being adopted has changed how i belong in the world. in the photo to the right you can see my biological mother holding me as a new
                born baby.
            </p>
            <br>
            <h5 class="fw-light">purpose</h5>
            <p class="fw-lighter">
                my goal is to create an online space where everyone can belong. i learned that a feeling
                of belonging cannot be forced but it can be welcomed. i am creating a space where 
                people can share vulnerable parts of themselves in order to create real connections with
                others.
            </p>
        </div>
        <div class="col-6">
            <img src="static/sallyvaldez.jpg" height="300" width="230px">
            <img src="static/me.JPG" height="300" width="230px">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-6">
            <img src="static/leah.jpg" class="mx-auto d-block" height="250" width="400" alt="...">
        </div>
        <div class="col-6">
            <h4 class="fw-light">user interactivity</h4>
            <p class="fw-lighter">
                user story: nate is a student who during covid did nothing but lay in his bed. 
                he was unable to go out to his favorite cafe or soccer field. his place of 
                comfort was disrupted. he wants to learn how to recreate a place he feels 
                comfortable and like he belongs. he opens up a sense of place website and is 
                faces with three options. he can upload his own “home” or view others, he can do 
                a challenge as an attempt to create different “homes”, or he can message with 
                others discussing experiences. nate being quite competitive clicked the challenge 
                option and was faced with a checklist of activities to complete.
            </p>
    </div>
    <br><br><br>
    <div class="row">
        <div class="col-6">
            <img src="static/gabe.jpeg" class="mx-auto d-block" height="250" width="400" alt="...">
        </div>
        <div class="col-6">
            <h4 class="fw-light">the other desinger</h4>
            <p class="fw-lighter">
                im so cool desinger
            </p>
    </div>
    <div class="row">

        <p class="text-right">last updated: 03/08/2022</p>
    </div>
</div>
{% endblock %}

