<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<h1 class="display-3" style="text-align:center">challenge</h1>
<h6 class="fw-light" style="text-align:center">here you will have a chance to complete writing and art "challenges" to help define your own sense of "home".</h4> <br>
    <!-- {% if myChallenges %}
        {% for challenge in myChallenges %}
            {{challenge.author.fname}} | {{challenge.challenge1}} | {{challenge.challenge2}} | {{challenge.challenge3}} 
            <a href="/challenge/edit/{{challenge.id}}">
                <img width="40" src="/static/edit.png"> </a>
        {% endfor %}
    {% else %}
        <a href='/challenge/new' class="btn btn-light btn-sm mt-4 border" role="button"><h3 class="fw-light">start a new</h3></a>
    {% endif %} -->
    {% if challenge %}
        <div class="row">
            {% if challenge.author == current_user %}
                <div class="col">
                    <h3>writing prompts</h3>
                    <div class="row mb-3" style="height: 14;" >
                        <div class="col" style="width: 14;">
                            {% if challenge.write1 == True %}
                                <img src="/static/checky.png" alt="bruh" height="15">
                            {% else %}
                                <img src="/static/unchecky.png" alt="notbruh" height="19">
                            {% endif %}
                            what is something you've been struggling with recently?
                            <br>
                            <p style="padding-left: 20px;"> reflection: {{challenge.reflection1}}</p>
                        </div>
                    </div>  
                    <div class="row mb-3" style="height: 14;">
                        <div class="col" style="width: 14;">
                            {% if challenge.write2 == True %}
                                <img src="/static/checky.png" alt="bruh" height="15">
                            {% else %}
                                <img src="/static/unchecky.png" alt="notbruh" height="19">
                            {% endif %}
                            write about your biggest fear + be honest with yourself.
                            <br>
                            <p style="padding-left: 20px;"> reflection: {{challenge.reflection2}}</p>
                        </div>
                    </div>  
                    <div class="row mb-3" style="height: 14;">
                        <div class="col" style="width: 14;">
                            {% if challenge.write3 == True %}
                                <img src="/static/checky.png" alt="bruh" height="15">
                            {% else %}
                                <img src="/static/unchecky.png" alt="notbruh" height="19">
                            {% endif %}
                            what is your first memory of life?
                            <br>
                            <p style="padding-left: 20px;"> reflection: {{challenge.reflection3}}</p>
                        </div>
                    </div>
                    <div class="row mb-3" style="height: 14;">
                        <div class="col" style="width: 14;">
                            {% if challenge.write4 == True %}
                                <img src="/static/checky.png" alt="bruh" height="15">
                            {% else %}
                                <img src="/static/unchecky.png" alt="notbruh" height="19">
                            {% endif %}
                            what is biggest obstacle you’ve had to overcome?
                            <br>
                            <p style="padding-left: 20px;"> reflection: {{challenge.reflection4}}</p>
                        </div>
                    </div>
                    <div class="row mb-3" style="height: 14;">
                        <div class="col" style="width: 14;">
                            {% if challenge.write5 == True %}
                                <img src="/static/checky.png" alt="bruh" height="15">
                            {% else %}
                                <img src="/static/unchecky.png" alt="notbruh" height="19">
                            {% endif %}
                            write about a secret no one knows about you.
                            <br>
                            <p style="padding-left: 20px;"> reflection: {{challenge.reflection5}}</p>
                        </div>
                    </div>
                    <div class="row mb-3" style="height: 14;">
                        <div class="col" style="width: 14;">
                            {% if challenge.write6 == True %}
                                <img src="/static/checky.png" alt="bruh" height="15">
                            {% else %}
                                <img src="/static/unchecky.png" alt="notbruh" height="19">
                            {% endif %}
                            what does home mean to you?
                            <br>
                            <p style="padding-left: 20px;"> reflection: {{challenge.reflection6}}</p>
                        </div>
                    </div>
                </div>
                <br>
                <div class="col">
                    <h3>art prompts</h3>
                    <div class="row mb-3" style="height: 14;">
                        <div class="col" style="width: 14;">
                            {% if challenge.art1 == True %}
                                <img src="/static/checky.png" alt="bruh" height="15">
                            {% else %}
                                <img src="/static/unchecky.png" alt="notbruh" height="19">
                            {% endif %}
                            create what you fear.
                            <br>
                            <p style="padding-left: 20px;"> reflection: {{challenge.reflection7}}</p>
                        </div>
                    </div>  
                    <div class="row mb-3" style="height: 14;">
                        <div class="col" style="width: 14;">
                            {% if challenge.art2 == True %}
                                <img src="/static/checky.png" alt="bruh" height="15">
                            {% else %}
                                <img src="/static/unchecky.png" alt="notbruh" height="19">
                            {% endif %}
                            illustrate and ongoing struggle in your life.
                            <br>
                            <p style="padding-left: 20px;"> reflection: {{challenge.reflection8}}</p>
                        </div>
                    </div>  
                    <div class="row mb-3" style="height: 14;">
                        <div class="col" style="width: 14;">
                            {% if challenge.art3 == True %}
                                <img src="/static/checky.png" alt="bruh" height="15">
                            {% else %}
                                <img src="/static/unchecky.png" alt="notbruh" height="19">
                            {% endif %}
                            create a piece of home.
                            <br>
                            <p style="padding-left: 20px;"> reflection: {{challenge.reflection9}}</p>
                        </div>
                    </div>  
                    <div class="row mb-3" style="height: 14;">
                        <div class="col" style="width: 14;">
                            {% if challenge.art4 == True %}
                                <img src="/static/checky.png" alt="bruh" height="15">
                            {% else %}
                                <img src="/static/unchecky.png" alt="notbruh" height="19">
                            {% endif %}
                            what does home look like to you?
                            <br>
                            <p style="padding-left: 20px;"> reflection:   {{challenge.reflection10}}</p>
                        </div>
                    </div>  
            {% endif %}
                <a href="/challenge/edit/{{challenge.id}}">
                <img width="30" src="/static/edit.png">
                </a>
                <a data-toggle="tooltip" data-placement="top" title="delete challenge" href="/challenge/delete/{{challenge.id}}">
                    <img width="25" class="float-right" src="/static/delete.png">
                </a>
            </div>
        </div>
    {% else %}
    <br>
    <br>
    <br>
        <div class="col text-center">
            <a href='/challenge/new' class="btn btn-light btn-sm mt-4 border" role="button"><h3 class="fw-light" style="text-align: center;">start a new</h3></a>
        </div>
    {% endif %}

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}