{% extends 'base.html' %}

{% block body %}
<div class="container mb-4 pb-4 border">
    <div class="row mb-4 pb-4 border">
        <h1 class="display-3" style="text-align:center">home collection</h1>
    </div>
    <div class="row border">
        {% if homeDefs %}
            {% for homeDef in homeDefs %}
                <div class="col-4 border">
                    <div class="row">
                         <!-- Button trigger modal -->
                        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            <h3 class="fw-light mb-3">
                                {% if homeDef.homeimg %}
                                    <img alt="work" class="img-thumbnail img-fluid mx-auto d-block" width="300" src="data:homeimg;base64,{{base64encode(homeDef.homeimg.read())}}">
                                {% else %}
                                    <img alt="no work" class="img-thumbnail mx-auto d-block" width="200" src="/static/bdog.jpg">
                                {% endif %}
                            </h3>
                        </button>
                    </div>
                    <div class="row">
                        <h3 class="fw-light" style="text-align:center">"{{homeDef.subject}}"</h3>
                    </div>
                    <div class="row">
                        <h3 class="fw-light" style="text-align:center">by {{homeDef.author.username}}</h3>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h1 class="display-5">no homeDefs</h1>
            <br><br><br><br><br><br><br><br><br>
        {% endif %}
    </div>
</div>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
    
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}