{% extends 'base.html' %}

{% block body %}

<div class="container m-4">
    <div class="row mb-4">
        <h1 class="display-3" style="text-align:center">a sense of place and belonging</h1>
    </div>
    <div class="row mb-4 pb-4">
        <div class="col"></div>
        <div class="col-auto">
            <img src="static/butterfly.jpg" height="400">
        </div>
        <div class="col"></div>
    </div>
    <div class="row mb-4 pb-4">
        <h5 class="fw-lighter" style="text-align: center;">
            home does not fit the dictionary defintion that home is "a place one lives in permanently". 
            what if you live in two different places or you constantly move around? what is your home then?
            we understand that one cannot force a feeling of belonging to create a sense of place; therefore, 
            we are trying to create a community that encourages vunerablity in hopes to welcome belonging.
           <br><br>
            below are a few examples of what "home" can look like whether it is the ocean,
            your beanbag chair, your warm bed, or a cool glass of wine it can all be home
        </h5>
    </div>
    <div id="carouselExampleDark" class="carousel carousel-dark slide mb-4 pb-4" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="10000">
            <img src="static/ocean.jpeg" class="d-block mx-auto w-auto" alt="first" style="height: 500px">
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="static/beanbag.jpeg" class="d-block mx-auto w-auto" alt="second" style="height: 500px">
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="static/bed.jpeg" class="d-block mx-auto w-auto" alt="third" style="height: 500px">
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="static/wine.jpeg" class="d-block mx-auto w-auto" alt="fourth" style="height: 500px">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>
    <br><br>
    <div class="row m-4 px-1" style="height: 400px">
        <!--- left col --->
        <div class="card p-4" style="width: 25%; height: 100%">
            <div class="row mx-3" style="height: auto">
                <img src="static/home.jpeg" alt="rel img">
            </div>
            <div class="card-body" style="height: auto">
                <h4 class="card-title fw-light">home collection</h4>
                <p class="card-text fw-light">here you will find community responses of what home means to them and why</p>
                <a href="/homeDefs" class="btn btn-secondary">take me there!</a>
            </div>
        </div>
        <!--- mid col --->
        <div class="card" style="width: 25%; height: 100%; margin-left: 1%">
            <div class="row mt-2 mx-2" style="height: 50%">
                <img src="static/challenge.jpeg" alt="rel img" style="height: 100%;">
            </div>
            <div class="card-body" style="height: auto">
                <h4 class="card-title fw-light">challenge</h4>
                <p class="card-text fw-light">trying to recreate a new sense of place? check out our challenge!
                </p>
                <a href="/challenge" class="btn btn-secondary">click me!</a>
            </div>
        </div>
        <!--- right col --->
        <div class="col" style="width: 48%; height: 100%; margin-left: 1%">
            <div class="row" style="height: 48%; margin-bottom: 2%">
                <div class="card p-3">
                    <div class="row no-gutters">
                        <div class="col-4">
                            <br>
                            <img src="static/aboutus.png" class="img-fluid" alt="rel img">
                        </div>
                        <div class="col-8">
                            <div class="card-block px-2">
                                <h4 class="card-title fw-light">about us</h4>
                                <p class="card-text fw-light">learn more about the creators</p>
                                <a href="/aboutus" class="btn btn-secondary">here</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="height: 49%">
                <div class="card p-4" style="width: 100%">
                    <div class="row no-gutters">
                        <div class="col-4">
                            <br>
                            <img src="static/article.png" class="img-fluid" alt="rel img" style="width: 100%">
                        </div>
                        <div class="col-8">
                            <div class="card-block px-2">
                                <h4 class="card-title fw-light">interested in more?</h4>
                                <p class="card-text fw-light">check out thejas jagannath's article about what a sense of place is</p>
                                <a href="https://medium.com/interviews-and-articles-on-art-public-spaces/what-is-sense-of-place-cd749f924712" class="btn btn-secondary">click here</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}