{% extends "base.html" %}

{% block body %}
<div class="container m-4">
    <h1 class="display-3 mb-4">login</h1>
    {% for field in form.errors %}
        {% for error in form.errors[field] %}
            <div class="alert alert-error">
                <strong>error!</strong>{{field}}: {{error}}
            </div>
        {% endfor %}
    {% endfor %}

    <div class="row">
        <h6 class="fw-light"> new user? <a href="{{ url_for('register') }}">click to register!</a></h6>

        <form method=post>
            {{ form.hidden_tag() }}
                <h3 class="fw-light">username</h3>{{form.username}}
                <h3 class="fw-light">password</h3>{{form.password}}
                <h5 class="fw-light">remember me?</h5>{{form.remember_me}}
                {{form.submit()}}
        </form>

        <h6 class="fw-light">
            forgot your password?
            <a href="{{ url_for('reset_password_request') }}">click to reset</a>
        </h6>
        <br>
        <br>
    </div>  
</div>
{% endblock %}
