{% extends 'base.html' %}

{% block body %}
<div class="container m-4">
    <div class="row">
        <h1 class="display-3 mb-4">
            my profile
            <a href="/myprofile/edit">
                <img width="40" src="/static/edit.png">
            </a>
        </h1>
    </div>

    <div class="row">
        <div class="col-6">
            <div class="row pt-4 ps-3">
                <div class="col-auto">
                    {% if current_user.image %}
                        <img class="img-thumbnail img-fluid" width="200" src="data:image;base64,{{base64encode(current_user.image.read())}}"> <br>
                    {% else %}
                        <img class="img-thumbnail" width="200" src="/static/bdog.jpg">
                    {% endif %} 
                </div>
                <div class="col">
                    <br>
                    <h1 class="display-5">{{current_user.username}}</h1>
                    <h1 class="display-7 fw-light">({{current_user.role}})</h1>
                </div>
            </div>
            <div class="row pt-4 ps-3">
                <h1 class="display-5 mb-3">personal information</h1>
                {% if current_user.fname and current_user.lname %}
                    <h3 class="fw-light">name: {{current_user.fname}}  {{current_user.lname}}</h3>
                {% endif %}
                <h3 class="fw-light">email: {{current_user.email}}</h3>
                <h3 class="fw-light">age: {{current_user.agerange}}</h3>
            </div>
        </div>
        <div class="col-6">
            <br>
            <h1 class="display-5 mb-3" style="text-align:center">{{current_user.fname}}'s sense of place</h1>
            {% if homeDef %}
                {% if homeDef.author == current_user %}
                    <div class="row">
                        <h3 class="fw-light mb-3" style="text-align:center">"{{homeDef.subject}}"</h1>
                        <h3 class="fs-3 fw-light mb-3">
                            {% if homeDef.homeimg %}
                                <img alt="work" class="img-thumbnail img-fluid mx-auto d-block" width="200" src="data:homeimg;base64,{{base64encode(homeDef.homeimg.read())}}">
                            {% else %}
                                <img alt="no work" class="img-thumbnail mx-auto d-block" width="200" src="/static/bdog.jpg">
                            {% endif %} 
                        </h3>
                        <h5 class="fw-light" style="text-align:center">{{homeDef.definition}}</h5>
                        <div class="row">
                            <div class="col"></div>
                            <div class="col-auto">
                                <a data-toggle="tooltip" data-placement="top" title="edit homeDef" href="/homeDef/edit/{{homeDef.id}}">
                                    <img width="40" class="float-right" src="/static/edit.png">
                                </a>
                                <a data-toggle="tooltip" data-placement="top" title="delete homeDef" href="/homeDef/delete/{{homeDef.id}}">
                                    <img width="40" class="float-right" src="/static/delete.png">
                                </a>
                            </div>
                            
                        </div>
                    </div>
                {% endif %}
            {% else %}
                <div class="col" style="text-align:center;">
                    <a href="/homeDef/new" class="btn btn-light btn-sm mt-4 border" role="button"><h3 class="fw-light">create new</h3></a>
                </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}